a{
  color: #74C4BC;
}

a:hover{
  color: #59A8A0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
  color: #E88C20;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover{
  color: #C77514;
}

.ui.vertical.segment{
  padding-top: 30px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 530px){
  .ui.vertical.segment{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media only screen and (min-width: 768px){
  .ui.vertical.segment{
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

h1.ui.header{
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

@media only screen and (min-width: 530px){
  h1.ui.header{
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px){
  h1.ui.header{
    font-size: 2.5rem;
  }
}

h1.ui.header + h3{
  margin-top: 0.5rem;
}

@media only screen and (min-width: 530px){
  h1.ui.header + h3{
    /*font-size: 2rem;*/
  }
}

@media only screen and (min-width: 768px){
  h1.ui.header + h3{
    /*font-size: 2.5rem;*/
  }
}

.ui.inverted.segment{
  padding-top: 30px;
  padding-bottom: 30px;
}

@media only screen and (min-width: 530px){
  .ui.inverted.segment{
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

@media only screen and (min-width: 768px){
  .ui.inverted.segment{
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.ui.inverted.segment p{
  color: #74C4BC;
}

.ui.inverted.segment.footer p{
  color: #CCC;
  text-align: center;
}